article
{
	background: greenyellow;
	border: 2px solid black;
	color: black;
	margin: 20px 5px;
	padding: 15px;
	text-align: center;
	-o-transition: all 5s linear;
	-webkit-transition: all 5s linear;
	-moz-transition: all 5s linear;
	-ms-transition: all 5s linear;
	transition: all 5s linear;
	width: 400px;
}
article p
{
	font: 30px Tahoma;
	font-weight: bold;
	width: 100%
}
/*article:hover
{
	height: 400px;
	width: 800px;s
}*/
article:hover
{
	background: black;
	color: greenyellow
	-o-transform: translate(150px,300);
	-webkit-transform: translate(150px,300);
	-moz-transform: translate(150px,300);
	-ms-transform: translate(150px,300);
	transform: translate(150px,300);

}