body
{

	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
	max-height: 800px;
}
header nav
{
	background: white;
	width: 99%
}
header nav img
{
	height: 50px;
	width: 1000px;
}
header nav input
{
	display: inline-block;
}
#seccion01 article
{
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	width: 15%
}
#secc01art01 img
{
	width: 150px;
	height: 100px;
}
#secc01art02
{
	background-color: green;
}
.colorBlanco
{
	color: white;
}
.letraMediana
{
	font-size: 1.5em;
}