body
{
    background: #1E4471;
    color: white;
}
#frmMaterias
{
    display: none;
}
#secInicio,#frmMaterias
{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 450px;
}
#imgLogo
{
    height: 200px;
    width: 300px;
}